.main {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.8rem;
    color: #fff;
    z-index: 999;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: visible;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
}

.mainSel {
  visibility: hidden;
}