<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KAADEN BLOG</title>
    <link rel="icon" type="image/x-icon" href="http://kaaden.orrzt.com/logo.jpg">
</head>

<body>
    <div id="root"></div>
    <script type="text/javascript">
        window.onload = function () {
            fontSize()
        }
        window.addEventListener("resize", fontSize, false);
        function fontSize() {
            let deviceWidth = document.documentElement.offsetWidth;
            if (deviceWidth > 1920) {
                deviceWidth = 1920;
            }
            let fontsize = deviceWidth / 19.2;
            document.documentElement.style.fontSize = `${fontsize}px`
            if (fontsize > 80) {
                window.location.href = 'http://kaaden.orrzt.com/#/';
            }
            console.log(document.documentElement.style.fontSize)
        }
       
    </script>
</body>

</html>