.main {
    margin: 1rem;
}

.mainItem {
    display: flex;
    box-shadow: 0 0 10px #e1e4e8;
    margin-top: 1rem;
    flex-direction: column;
    padding: .5rem 1rem;
}

.mainItem:hover {
    box-shadow: 0 0 20px #e1e4e8;
}

.mainDesc {
    font-size: .7rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: rgba(0, 0, 0, 0.45);
}

.mainSame {
    margin-bottom: .5rem;
    color: rgba(0, 0, 0, 0.45);
    font-size: .7rem;
}

.mainItemTile {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.mainItemtag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: .1rem 0;
}